.dragabble {
  -webkit-app-region: drag;
  height: 40px;
  width: 100%;
}

h1 {
  font-weight: 700;
}

h6 {
  font-weight: 700;
}

body ::selection {
  background: #00bf71;
  color: #fff;
}

.stats {
  .stat {
    background-color: #eee;
    border-radius: 15px;
    padding: 15px 15px 8px 18px;
    margin-top: 20px;

    h3 {
      font-size: 15px;
    }
    h2 {
      font-size: 26px;
      font-weight: 700;
    }
  }
}

.welcome {
  line-height: 1.16667;
  font-weight: 600;
  letter-spacing: .009em;
  font-family: sf pro display,sf pro icons,helvetica neue,helvetica,arial,sans-serif;
  quotes: "“" "”";
  -webkit-font-smoothing: antialiased;

  &.splash_screen {
    button {
      padding-left: 60px;
      padding-right: 60px;
    }
    h1 {
      margin-top: 110px;
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 60px;
    }
  }

  &.login {
    h1 {
      margin-top: 90px;
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 70px;
    }
    small {
      margin-top: 10px;
      display: block;
    }
  }

  h1 {
    color: $primary;
  }
  h5 {
    margin-bottom: 60px;
  }
  button {
    font-weight: bold;
  }
}

.timeEntryNote {
  .dragabble {
    height: 9px;
  }
  input {
    font-size: 19px;
    border-color: transparent;
    -webkit-app-region: drag;
    &:focus {
      outline-width: 0;
      outline: none !important;
      outline:none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-color: transparent;
    }
  }
} 
